body{
    background-color: black;
}

img{
    border: 10px solid yellow;
    height: 400px;
    width: 1000px;
    margin-left: 200px;
    margin-top: 50px;
    
}
h1{
    color: wheat;
    font-size: 75px;
    text-align: center;
    margin-bottom: 1px;
}
p{
    color: wheat;
    font-size: 20px;
    text-align: center;
    
}